<mat-card>
  <mat-card-content>
    <br>
    <h3 *ngFor="let line of intro.split('\n')" [innerHTML]="line"></h3>
    <br>
    <div id="banner" *ngIf="banner != ''">
      <mat-divider></mat-divider>
      <br>
      <br>
      <img [src]="banner">
      <br>
    </div>
  </mat-card-content>
</mat-card>

<app-view-meeting *ngFor="let meeting of meetings;" [customer]="customer" [meeting]="meeting"></app-view-meeting>

<mat-card *ngIf="meetings.length == 0">
  <mat-card-header>
    <mat-card-title>Keine Termine gefunden!</mat-card-title>
  </mat-card-header>
</mat-card>
