mat-icon:hover {
  cursor: pointer;
}

mat-icon {
  cursor: pointer;
  white-space: pre-line;
  color: green;
}

.block {
  float: left;
  text-align: center;
  margin-bottom: 15%;
}

.row {
  padding: 0.25%;
}


.reserved {
  color: gray;
  cursor: default;
}

.reserved:HOVER {
  cursor: default;
}

.stage {
  color: red;
  cursor: default;
}

.stage:HOVER {
  cursor: default;
}

.technology {
  color: black;
  cursor: default;
}

.technology:HOVER {
  cursor: default;
}

.invisible {
  cursor: default;
  color: white;
}

.invisible:HOVER {
  cursor: default;
}

.selected {
  color: blue;
}


.map {
  font-size: 1rem;
}

mat-card {
  margin-bottom: 30%;
}

#bottom-toolbar {
  position: fixed;
  bottom: 0;
}

#bottom-toolbar button {
  position: absolute;
  bottom: 0;
  right: 5%;
  transform: translate(-50%, -50%);
}

#bottom-toolbar button mat-icon {
  color: rgb(255,255,255);
}

#step-2 {
  text-align: center;
}

#step-3 {
  font-size: 1.5rem;
  padding: 5%;
}

#step-3 mat-icon {
  margin-right: 2.5%;
  font-size: 3rem;
}

.input {
  width: 75%;
}

.price {
  height: 2.5%;
  padding: 2.5%;
  margin: 5%;
}

.price div {
  float: left;
  margin-right: 5%;
  font-size: 1.75rem;
}

.price mat-form-field {
  float: left;
}

.time-list-icon {
  color: rgb(33,33,33);
}

#overflow {
  overflow: scroll;
}

#room {
  width: 2050px;
}
