<mat-card *ngIf="token != null" class="floating">
  <mat-card-header>
    <mat-card-title>
      <h1>Administrator</h1>
    </mat-card-title>
    <mat-card-subtitle>
      sign in to continue...
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="input">
      <input matInput placeholder="Firstname" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput placeholder="Lastname" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput placeholder="Password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="signIn()" [disabled]="signInDisabled()">Sign In</button>
  </mat-card-content>
</mat-card>
