.floating {
  height: 100%;
}

button {
  width: 98%;
  margin: 1%;
}

.content {
  padding: 2.5%;
  width: 95%;
  background-color: white;
}

mat-form-field {
  width: 98%;
  padding: 1%;
}

mat-list-item {
  cursor: pointer;
}

mat-list-item:HOVER {
  cursor: pointer;
}

mat-checkbox {
  width: 98%;
  padding: 1%;
}

#customers {
  width: 95%;
  padding: 2.5%;
}

#customers table {
  width: 100%;
}

mat-slider {
  width: 98%;
  padding: 1%;
}
