mat-toolbar {
  position: relative;
}

#title {
  cursor: pointer;
}

#title:hover {
  cursor: pointer;
}

#info {
  position: absolute;
  top: 50%;
  right: 2.5%;
  transform: translate(0%, -40%);
  cursor: pointer;
}

#info:hover {
  cursor: pointer;
}

mat-icon {
  font-size: 2rem;
}

#systeminfo {
  margin: 5% 2.5%;
  color: rgb(150, 150, 150);
}

a {
  text-decoration: none;
  color: rgb(150, 150, 150);
}
